<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>UID</th>
    <th>ISP</th>
    <th>GFW?</th>
    <th>DL TIME in SEC</th>
    <th>UL TIME in SEC</th>
  </tr>
  </thead>

  <tbody>
  <% @tests.each do |test| %>

      <tr>
        <td><%= test.uid %></td>
        <td><%= test.isp %></td>
        <td><%= !test.has_gfw %></td>
        <td><%= test.download_time %></td>
        <td><%= test.upload_time %></td>
      </tr>

  <% end %>
  </tbody>

</table>
