<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />
<%= link_to "Invite", new_test_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Invitation URI</th>
    <th>IP</th>
    <th>Done?</th>
  </tr>
  </thead>

  <tbody>
  <% @tests.each do |test| %>

      <tr>
        <td><%= test.user_name %></td>
        <td><%= link_to "#{t_url}?#{test.token}", "#{t_path}?#{test.token}" %></td>
        <td><%= test.ip %></td>
        <td><%= test.done %></td>
      </tr>

  <% end %>
  </tbody>

</table>
